<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>130288215476-e5tsmm1rgbsefptactn9ppa518gd3f81.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.130288215476-e5tsmm1rgbsefptactn9ppa518gd3f81</string>
	<key>API_KEY</key>
	<string>AIzaSyBOoB0K_0UGIn-j4Kbz2_IILYFT6vjDVJM</string>
	<key>GCM_SENDER_ID</key>
	<string>130288215476</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aveldanov.ThoughtItOutApp</string>
	<key>PROJECT_ID</key>
	<string>thoughtitoutapp</string>
	<key>STORAGE_BUCKET</key>
	<string>thoughtitoutapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:130288215476:ios:a974f49e2ad203964e7ee1</string>
</dict>
</plist>